@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
	margin: 0;
	padding: 0;

	font-family: 'Montserrat', sans-serif;

	box-sizing: border-box;
}

body {
	width: 100%;

	min-height: 100vh;
	max-height: 100vh;

	display: flex;

	color: #fff;

	background: linear-gradient(to bottom, #151515, #121212);

	overflow: hidden;

	user-select: none;
	-webkit-user-select: none;
}

body::-webkit-scrollbar {
    display: none;
}

.main {
	display: flex;
	flex-direction: column;

	width: 100%;

	gap: 15px;
	padding: 15px;

	overflow-x: hidden;
	overflow-y: auto;
}

.countries_picker {
	min-width: 300px;

	height: 99vh;

	display: flex;
	flex-direction: column;

	overflow: scroll;
	border-right: 2px solid #ffffff1a;

	gap: 10px;
	padding: 10px;
}

.countries_picker::-webkit-scrollbar {
	display: none;
}

#wscontent {
	display: grid;
	grid-template-columns: repeat(3, 1fr);

	gap: 15px;
}

.application {
	display: flex;

	background: url('../assets/bg-pattern.png'), linear-gradient(to bottom, #151515, #121212);
	background-size: auto;
	background-position: top center;

	border: 2px solid #ffffff1a;
	border-radius: 5px;

	gap: 10px;
	padding: 10px;
}

.application_items {
	width: 100%;
	display: flex;
	flex-direction: column;

	gap: 10px;
}

.country_tag {
	color: #32b071;
	font-weight: 600;
}

.country_tag, .text_why {
	text-align: left;
}

.text_why {
	max-width: 400px;
	overflow-wrap: break-word;
}

.application_button {
	max-width: 400px;

	color: #fff;
	font-weight: 600;

	cursor: pointer;

	border: 0;
	background: #05a154;
	border-radius: 10px;

	padding: 5px;

	transition: .3s;
}

.application_button:hover {
	opacity: .5;
}

.avatar {
	cursor: pointer;
	border-radius: 50%;
}

.country {
	width: 100%;
	display: flex;

	cursor: pointer;
	transition: 10ms;
	color: #fff;

	padding: 5px 10px;

	transition: .3s;
}

.country:hover {
	opacity: .5;
}

.country.selected:hover {
	opacity: 1;
}

.selected {
	position: relative;
}

.selected::after {
	content: '';

	width: 100%;
	height: 100%;

	position: absolute;
	left: 0;
	bottom: 0;

	border-radius: 5px;
	background: #ffffff1a;

	z-index: -1;

	transition: .3s;
}

.hidden {
	display: none;
}

.controls {
	display: flex;
	justify-content: space-between;
}

.controls div {
	font-weight: 500;

	cursor: pointer;

	transition: .3s;
}

.controls div:hover {
	color: #05a154;
}

.main-title {
	font-size: 32px;
	line-height: 35px;
}

@media (max-width: 1200px) {
	#wscontent {
		grid-template-columns: unset;
	}

	.text_why {
		width: 100%;
		max-width: unset;

    	overflow-wrap: anywhere;
	}

	.application_button {
		max-width: unset;
	}
}